/* Views CSS Index */
@import './ApartmentFlushing.css';
@import './ApartmentFlushHistory.css';
@import './BuildingApartments.css';
@import './BuildingsOverview.css';
@import './Dashboard.css';
@import './FlushingManager.css';
@import './HealthStatus.css';
@import './Login.css';
@import './LogoTestView.css';
@import './Profile.css';
